.advantage {
  @media (min-width: @tablet-width) {
    min-height: 256px;
  }
}

.advantage__wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-height: 256px;
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantage__img {
  @media (min-width: @tablet-width) {
    min-height: 256px;
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
