.advantage {
  background-color: #81b3d2;

  &--light {
    background-color: #ffffff;
    padding: 23px 18px 2px;

    @media (min-width: @tablet-width) {
      padding: 60px 33px;
    }

    @media (min-width: @desktop-width) {
      padding: 65px 33px;
    }
  }

  &--dark {
    background-color: #eeeeee;
    padding: 0 18px;
  }

  &--bridge {
    @media (max-width: @mobile-width-only) {
      margin-top: 46px;
    }
  }
}

.advantage__title {
  color: #000000;

  @media (min-width: @desktop-width) {
    max-width: 150px;
  }
}

.advantage__description {
  color: #333333;

  @media (min-width: @desktop-width) {
    max-width: 300px;
  }
}

.advantage--wide {
  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: @tablet-width) {
    display: flex;
  }

  &:first-of-type {
    @media (min-width: @tablet-width) {
      flex-direction: row-reverse;
    }
  }
}

.advantage--wide .advantage__title {
  color: #ffffff;
}

.advantage--wide .advantage__description {
  color: #ffffff;
}

.advantage__number {
  margin: 11px 0 17px;

  @media (min-width: @tablet-width) {
    margin: 14px 0 22px;
  }
}

.advantage--wide .advantage__number {
  color: #ffffff;
}

.advantage--wide .advantage__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 18px 40px;

  @media (min-width: @tablet-width) {
    width: 256px;
    min-height: 256px;
    padding: 45px 33px 28px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    min-height: 256px;
    padding: 25px 33px 28px;
  }
}

.advantage__img {
  display: block;

  @media (min-width: @tablet-width) {
    width: 100%;
    object-fit: cover;
  }
}

.advantage__img-container {
  @media (min-width: @tablet-width) {
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.advantage--bridge .advantage__wrapper {
  padding: 35px 18px 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 256px;
    padding: 45px 33px 28px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 52px 50px 51px;
  }
}

.advantage--light .advantage__wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.advantage--light .advantage__title {
  text-align: left;
  margin-top: 8px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin: 33px auto 24px;
  }
}

.advantage--present .advantage__title {
  @media (min-width: @tablet-width) {
    margin-top: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 28px;
  }
}

.advantage__svg {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.advantage--light .advantage__content-wrapper {
  margin-left: 8px;
}


.advantage--light .advantage__description {
  @media (max-width: @mobile-width-only) {
    text-align: left;
  }
}

.advantage--light svg {
  display: block;

  @media (max-width: @mobile-width-only) {
    width: 40px;
    height: 40px;
  }
}

.advantage--dark .advantage__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  border-bottom: solid 1px #d6d6d6;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 41px 15px 17px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 50px;
  }
}

.advantage--dark:last-child .advantage__wrapper {
  border-bottom: none;
}

.advantage--dark .advantage__title {
  @media (min-width: @tablet-width) {
    max-width: 150px;
  }
}
