.advantages__wrapper {
  padding: 32px 28px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 24px 18px 28px;

  &--base-background {
    background-color: #81b3d2;
  }

  &--light-background {
    background-color: #ffffff;
  }

  &--dark-background {
    background-color: #eeeeee;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
    padding: 0;
  }
}

.advantages__list-svg {
  padding: 23px 18px 46px;
}

.advantages__list-image {
  padding: 0;
}

.advantages__item {
  &--wide {
    @media (min-width: @tablet-width) {
      display: flex;
      width: 100%;
    }
  }
}
