.advantage {
  @media (min-width: @tablet-width) {
    min-height: 256px;
  }
}

.advantage__wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 11px;
}

.advantage__description {
  margin: 0;
}

.advantage__number {
  margin-bottom: 17px;
}

.advantage__wrapper-city {
  padding: 33px 18px;
}

.advantage__wrapper-bridge {
  padding: 37px 18px;
}

.advantage__img {
  @media (min-width: @tablet-width) {
    min-height: 256px;
    width: 512px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
