.booking__button {
  display: flex;
  padding: 16px;
  justify-content: center;
}

.booking__wrapper {
  margin: 32px 18px 49px;
}

.booking__img {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
