.button {
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  width: 284px;
  color: #ffffff;
  border: none;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  padding: 16px;
  justify-content: center;
  min-height: 58px;
}
