
.feedback__wrapper {
  padding: 36px 20px 28px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.feedback__name {
  padding: 24px 20px 39px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.feedback__contacts {
  padding: 24px 20px 34px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.feedback__emotions,
.feedback__place,
.feedback__text {
  padding: 24px 20px 24px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.feedback__button {
  margin-top: 56px;
}

.feedback__note {
  margin-bottom: 22px;
  color: #33333399;
  text-align: right;
}
