.form-cell__input {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2f2f2;
  min-height: 58px;
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
  border: 0;
}

.form-cell__wrapper {
  position: relative;
}

.form-cell__svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 58px;
  background-color: #e6e6e6;
  height: calc(100% - 16px);
}
