.hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover .hashtag__link {
    color: #81b3d2;
  }

  // &:focus {

  // }

  &:active .hashtag__link {
    color: #b3b3b3;
  }
}

.hashtag__link {
  color: #000000;
}

