.intro {
  background-color: #81b3d2;
  background-image: url("../img/background-sedona.jpg");
  background-repeat: no-repeat;
}

.intro__image {
  width: 282px;
  height: 214px;
  margin: 90px auto 85px;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
  }
}
