.popup__button {
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 14px;

  &--luck {
    width: 280px;
  }

  &--error {
    width: 180px;
  }
}

.popup__error {
  padding: 45px 41px 35px 41px;
}

.popup__luck {
  padding: 39px 39px 20px 37px;
}
