.posts {
  &__list {
    padding: 0;
  }

  &__wrapper {
    margin: 37px 20px 25px;
  }
}

.post {
  list-style-type: none;
  padding: 24px 20px 25px;
  border-bottom: 1px solid #e5e5e5;

  &:first-of-type {
    border-top: 1px solid #e5e5e5;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    word-wrap: break-word;
    font-family: "PT Sans", "Arial", sans-serif;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    word-wrap: break-word;
    font-family: "PT Sans", "Arial", sans-serif;
  }

  &__counter {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    word-wrap: break-word;
    font-family: "PT Sans", "Arial", sans-serif;
  }
}
