.post {
  list-style-type: none;
  padding: 24px 20px 25px;
  border-bottom: 1px solid #e5e5e5;

  &:first-of-type {
    border-top: 1px solid #e5e5e5;
  }
}

.post__title,
.post__counter {
  font-weight: 700;
}

.post__description {
  text-transform: none;
}
