a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  word-wrap: break-word;
  margin: 0;
}
img {
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.page {
  height: 100%;
}
.page__body {
  background-color: #f2f2f2;
  width: 100%;
}
.page__wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 320px;
  box-shadow: 0 5px 15px 0 #00010133;
}
@media (min-width: 768px) {
  .page__wrapper {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__wrapper {
    width: 1200px;
  }
}
.button {
  background-color: #81b3d2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  color: #ffffff;
  border: none;
  line-height: 26px;
  text-transform: uppercase;
  padding: 16px;
  min-height: 58px;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  color: #ffffff4d;
  background-color: #5496bd;
}
.button:disabled {
  background-color: #e5e5e5;
}
.main-header {
  position: relative;
}
@media (max-width: 767px) {
  .main-header {
    min-height: 56px;
  }
}
.main-footer {
  padding: 23px 18px 32px;
}
@media (min-width: 768px) {
  .main-footer {
    padding: 30px 60px 34px;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    padding: 30px 120px 36px;
  }
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.main-footer__social {
  margin-top: 20px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .main-footer__social {
    margin: 0;
  }
}
.main-footer__hashtag {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding: 10px 0;
  display: block;
  text-align: center;
}
.main-nav {
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-weight: 700;
}
@media (max-width: 767px) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    line-height: 26px;
    background-color: #81b3d2;
    color: #ffffff;
    z-index: 2;
  }
}
@media (min-width: 768px) {
  .main-nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    width: 306px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 478px;
  }
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    width: 153px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    width: 239px;
  }
}
.main-nav__item--main {
  border-top: none;
}
@media (max-width: 767px) {
  .main-nav__wrapper:last-child {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-size: 100% 7px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}
.main-nav__link {
  display: block;
  padding: 18px 0 17px 0;
  color: #ffffff;
}
@media (max-width: 767px) {
  .main-nav__link {
    border-top: 1px solid #01010133;
    border-bottom: 1px solid #ffffff33;
    padding: 14px 0;
  }
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000000;
  }
}
@media (min-width: 768px) {
  .main-nav__link--active {
    color: #766357;
  }
}
@media (max-width: 767px) {
  .main-nav__link:hover:not(.main-nav__link--active) {
    background-color: #669ec0;
  }
}
@media (min-width: 768px) {
  .main-nav__link:hover:not(.main-nav__link--active) {
    color: #81b3d2;
  }
}
@media (max-width: 767px) {
  .main-nav__link:active:not(.main-nav__link--active) {
    background-color: #5496bd;
    color: #ffffff4d;
  }
}
@media (min-width: 768px) {
  .main-nav__link:active:not(.main-nav__link--active) {
    color: #000000;
    opacity: 30%;
  }
}
.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  padding: 0;
  width: 23px;
  height: 22px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  background-image: url("../img/signs/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-nav--opened .main-nav__toggle:hover {
  opacity: 60%;
}
.main-nav--opened .main-nav__toggle:active {
  opacity: 30%;
}
.main-nav--closed .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #81b3d2;
  height: 4px;
  width: 23px;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--closed .main-nav__toggle:hover::after {
  background-color: #81b3d299;
  box-shadow: 0 9px 0 0 #81b3d299, 0 18px 0 0 #81b3d299;
}
.main-nav--closed .main-nav__toggle:active::after {
  background-color: #80b2d14d;
  box-shadow: 0 9px 0 0 #80b2d14d, 0 18px 0 0 #80b2d14d;
}
.main-nav--nojs {
  position: relative;
  z-index: 1;
}
.main-nav--nojs .main-nav__item {
  display: block;
}
.logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 185px;
}
.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
}
@media (min-width: 768px) {
  .title {
    font-size: 21px;
  }
}
.title--small-font-size {
  font-size: 14px;
  line-height: 21px;
}
.title--big-font-size {
  font-size: 21px;
}
@media (min-width: 768px) {
  .title--big-font-size {
    font-size: 30px;
  }
}
.description {
  text-align: center;
  color: #333333;
  margin-bottom: 0;
}
.popup-screen--opened {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #0000004d;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-screen--closed .popup {
  display: none;
}
.popup__button {
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;
  display: block;
}
.popup__button--luck-size {
  width: 280px;
}
@media (min-width: 768px) {
  .popup__button--luck-size {
    width: 458px;
  }
}
.popup__button--error-size {
  width: 180px;
}
@media (min-width: 768px) {
  .popup__button--error-size {
    width: 272px;
  }
}
@media (min-width: 768px) {
  .popup--success .popup__button {
    margin: 0 auto;
    font-size: 21px;
  }
}
.popup {
  width: 320px;
  padding: 40px 42px 35px 41px;
  box-shadow: 0 7px 15px 0 #00010126;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .popup {
    padding: 47px 42px;
    width: 400px;
  }
}
.popup--success {
  padding: 0;
}
@media (min-width: 768px) {
  .popup--success {
    width: 640px;
  }
}
.popup__content {
  padding: 30px 39px 28px 37px;
}
@media (min-width: 768px) {
  .popup--success .popup__content {
    padding-top: 45px;
    padding-bottom: 30px;
  }
}
.popup__description {
  margin: 17px 0 26px;
}
@media (min-width: 768px) {
  .popup__description {
    margin: 26px 0 45px;
  }
}
.popup__button-wrapper {
  background-color: #f2f2f2;
  width: 100%;
  padding: 20px;
}
@media (min-width: 768px) {
  .popup__button-wrapper {
    padding: 43px;
  }
}
.popup__title {
  max-width: 350px;
  line-height: 39px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .popup__title {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .popup__title {
    max-width: 220px;
  }
}
.popup--success .popup__title {
  max-width: 100%;
}
.popup--success .popup__description {
  display: block;
  margin: 20px auto;
}
.popup--closed {
  display: none;
}
.copyright svg {
  fill: #000000;
  display: block;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.copyright:hover {
  color: #81b3d2;
}
.copyright:hover svg {
  fill: #81b3d2;
}
.copyright:active {
  color: #b3b3b3;
}
.copyright:active svg {
  fill: #b3b3b3;
}
.copyright__text {
  color: #000000;
  margin-right: 12px;
}
.video {
  position: relative;
}
.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 54px;
  width: 48px;
  border: none;
  background-color: inherit;
  background-image: url("../img/signs/button-play.svg");
  background-position: center;
  background-size: 48px 54px;
}
@media (min-width: 768px) {
  .video__button {
    display: flex;
    justify-content: space-between;
  }
}
.video__img {
  width: 100%;
  height: 177px;
  display: block;
}
@media (min-width: 768px) {
  .video__img {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .video__img {
    height: 500px;
  }
}
.video-player {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .video-player {
    padding: 0 60px 50px;
  }
}
@media (min-width: 1200px) {
  .video-player {
    padding: 0 199px 90px;
  }
}
.video-player__wrapper {
  padding: 18px 20px 38px;
}
@media (min-width: 768px) {
  .video-player__wrapper {
    padding: 55px 100px 90px;
  }
}
@media (min-width: 1200px) {
  .video-player__wrapper {
    padding: 62px 178px 90px;
  }
}
.video-player__title {
  margin-bottom: 29px;
}
@media (max-width: 767px) {
  .video-player__title {
    font-size: 18px;
  }
}
.video-player__description {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .video-player__description {
    max-width: 255px;
  }
}
.intro__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .intro__image {
    height: 350px;
    width: 461px;
  }
}
.intro__image--form {
  height: 39px;
}
@media (min-width: 768px) {
  .intro__image--form {
    height: 78px;
  }
}
@media (min-width: 1200px) {
  .intro__image--form {
    height: 80px;
  }
}
.intro {
  position: relative;
  background-color: #81b3d2;
  background-image: url("../img/background-sedona.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 19px 85px;
}
@media (min-width: 768px) {
  .intro {
    padding: 77px 19px 91px;
  }
}
.intro--form {
  padding: 52px 19px 67px;
}
@media (min-width: 768px) {
  .intro--form {
    padding: 95px 19px 117px;
  }
}
@media (min-width: 1200px) {
  .intro--form {
    padding: 101px 19px 120px;
  }
}
.intro::before {
  content: "";
  background-image: url("../img/signs/decoration.svg");
  position: absolute;
  background-position: center;
  bottom: 0;
  height: 57px;
  width: 100%;
  left: 0;
}
.form-field__input-area {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  margin: 0;
  border: 0;
  position: relative;
  z-index: 3;
  padding: 16px 16px;
  outline: none;
}
.form-field__input-area:hover {
  background-color: #e5e5e5;
}
.form-field__input-area:focus:not(:invalid) {
  padding-left: 10px;
  background-color: #ffffff;
  border: solid 4px #e5e5e5;
}
.form-field__input-area--svg-decoration {
  padding-right: 70px;
}
.form-field__title {
  margin-left: 16px;
}
.form-field__wrapper {
  position: relative;
}
.form-field__wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 58px;
  height: 100%;
  background-color: #e6e6e6;
  z-index: 3;
}
.form-field__wrapper--email::after {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form-field__wrapper--phone::after {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form-field-tick__input-area {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 100%;
  margin: 0;
  border: 0;
  position: relative;
  z-index: 3;
  cursor: pointer;
  padding: 10px 14px 10px 62px;
  outline: none;
  text-transform: none;
  background-color: inherit;
  display: flex;
  align-items: center;
}
.form-field-tick {
  display: flex;
  align-items: center;
}
.form-field-tick__decoration-input {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  z-index: 1;
}
.form-field-tick__decoration-input--checkbox {
  border-radius: 4px;
}
.form-field-tick__input:checked + .form-field-tick__decoration-input::after {
  content: "";
  position: absolute;
  background-color: #333333;
  z-index: 2;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-field-tick__input--checkbox:checked + .form-field-tick__decoration-input::after {
  content: "";
  position: absolute;
  background-image: url("../img/signs/tick.svg");
  width: 22px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-container {
  padding: 23px 20px 25px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}
@media (min-width: 768px) {
  .form-container {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .form-container {
    padding: 25px 0 23px;
  }
}
.form-container--rewiew {
  border-bottom: none;
  padding-top: 16px;
}
@media (min-width: 1200px) {
  .form-container:last-of-type {
    padding-top: 25px;
  }
}
.form-container__title {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .form-container__title br {
    display: none;
  }
}
.form-container__title:not(.form-container__title--simple) {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .form-container__title:not(.form-container__title--simple)::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #ffffff;
    width: 402px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .form-container__title:not(.form-container__title--simple)::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #dbdbdb;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    z-index: -2;
  }
}
.form-container__title--simple {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .form-container__title--simple {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .form-container__title--simple {
    margin-bottom: 23px;
  }
}
.form-container__title--name {
  margin-bottom: 18px;
}
@media (min-width: 1200px) {
  .form-container__title--name {
    margin-bottom: 21px;
  }
}
.form-container__item {
  min-height: 84px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .form-container__item {
    margin-bottom: 14px;
  }
}
.form-container__text-area {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  min-height: 150px;
  width: 100%;
  margin: 0;
  border: 0;
  position: relative;
  z-index: 3;
  padding: 18px;
  outline: none;
  resize: none;
}
@media (min-width: 768px) {
  .form-container__text-area {
    min-height: 160px;
  }
}
@media (min-width: 1200px) {
  .form-container__text-area {
    display: block;
    width: 768px;
    margin: 27px auto 0;
  }
}
.form-container__text-area:hover {
  background-color: #e5e5e5;
}
.form-container__text-area:focus:not(:invalid) {
  padding: 14px;
  background-color: #ffffff;
  border: solid 4px #e5e5e5;
}
@media (min-width: 768px) {
  .form-container--rewiew .form-container__title {
    margin-bottom: 28px;
  }
}
.form-container-tick__item {
  margin: 16px 0;
}
@media (min-width: 768px) {
  .form-container-tick__item {
    width: 224px;
    margin: 8px 0;
  }
}
@media (min-width: 1200px) {
  .form-container-tick__item {
    width: auto;
  }
}
@media (min-width: 768px) {
  .form-container-tick__item--radio {
    width: 280px;
    margin: 8px 0;
  }
}
.form-container-tick__title {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .form-container-tick__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .form-container-tick__title {
    margin-bottom: 30px;
  }
}
.form-container-tick {
  padding: 23px 20px 13px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .form-container-tick {
    border-bottom: none;
    padding: 23px 0 17px;
  }
}
@media (min-width: 1200px) {
  .form-container-tick {
    padding-top: 33px;
  }
}
.form-container-tick__item:hover .form-field-tick__decoration-input {
  background-color: #e5e5e5;
}
.form-container-tick__item:hover .form-field-tick__input:checked + .form-field-tick__decoration-input::after {
  background-color: #333333;
}
.form-container-tick__item:hover .form-field-tick__input--checkbox:checked + .form-field-tick__decoration-input::after {
  background-image: url("../img/signs/tick.svg");
}
.form-container-tick__item:active .form-field-tick__decoration-input {
  background-color: #d5d5d5;
}
.form-container-tick__item:active .form-field-tick__input:checked + .form-field-tick__decoration-input::after {
  background-color: #3333334d;
}
.form-container-tick__item:active .form-field-tick__input--checkbox:checked + .form-field-tick__decoration-input::after {
  background-image: url("../img/signs/tick.svg");
  opacity: 30%;
}
@media (min-width: 768px) {
  .form-container-tick__wrapper {
    padding: 0 55px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .form-container-tick__wrapper {
    padding: 5px 10px 15px 50px;
  }
}
@media (min-width: 768px) {
  .form-container-tick--checkbox .form-container-tick__wrapper {
    padding: 0 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .form-container-tick--checkbox .form-container-tick__wrapper {
    padding: 21px 30px 37px 40px;
  }
}
.booking__wrapper {
  padding: 41px 18px 49px;
}
@media (min-width: 768px) {
  .booking__wrapper {
    padding: 60px 155px 55px;
  }
}
@media (min-width: 1200px) {
  .booking__wrapper {
    padding: 60px 371px 66px;
  }
}
.booking__button {
  display: block;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .booking__button {
    width: 458px;
    margin-top: 47px;
  }
}
.booking__title {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .booking__title {
    margin-bottom: 31px;
  }
}
.booking__img {
  width: 100%;
  display: block;
}
.booking__map {
  position: relative;
  margin-bottom: 8px;
}
.booking__map::before {
  content: "";
  width: 27px;
  height: 27px;
  background-color: #81b3d3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  border: 5px solid #ffffff;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .booking__description br {
    display: none;
  }
}
.post {
  list-style-type: none;
  padding: 25px 18px 27px;
  position: relative;
}
@media (max-width: 767px) {
  .post {
    padding: 26px 18px 28px;
    border-top: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  .post__wrapper {
    padding: 22px 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .post__wrapper--dark {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .post__wrapper {
    width: 100%;
    background-color: #0000004d;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    align-items: center;
    padding-left: 23px;
  }
}
@media (max-width: 767px) {
  .post__content {
    margin-bottom: 12px;
  }
}
.post__title {
  text-align: left;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .post__title {
    margin-bottom: 3px;
  }
}
.post__counter {
  font-weight: 700;
  margin-left: 14px;
  line-height: 1;
}
@media (min-width: 768px) {
  .post__counter {
    margin-left: 10px;
  }
}
.post__description {
  text-transform: none;
  color: #333333;
  margin-bottom: 0;
  margin-top: 1px;
}
@media (min-width: 1200px) {
  .post__description {
    color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .post__description {
    margin-top: 0;
  }
}
.post__img {
  width: 100%;
  height: 280px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .post__img {
    margin-bottom: 0;
    height: 267px;
  }
}
@media (min-width: 768px) {
  .post:first-child .post__img {
    height: 400px;
  }
}
.post img {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .post img {
    height: 100%;
  }
}
.post__like {
  display: flex;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .post__like {
    padding: 3px 0 0;
  }
}
.post__like svg {
  opacity: 0.3;
  fill: #000000;
}
@media (min-width: 1200px) {
  .post__like svg {
    opacity: 1;
    fill: #ffffff;
  }
}
@media (min-width: 768px) {
  .post--main .post__img {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .post--main img {
    height: 400px;
  }
}
.posts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .posts__list {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .posts__list {
    padding: 0;
  }
}
.posts__wrapper {
  padding: 37px 20px 36px;
}
@media (min-width: 768px) {
  .posts__wrapper {
    padding: 66px 161px 80px;
  }
}
@media (min-width: 1200px) {
  .posts__wrapper {
    padding: 95px 380px 89px;
  }
}
.posts__title {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .posts__title {
    margin-bottom: 34px;
  }
}
@media (max-width: 767px) {
  .posts__title {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .posts__item {
    padding: 0;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .posts__item {
    width: 400px;
  }
}
.posts__item:first-child {
  width: 100%;
}
.rewiew__input {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background-color: #f2f2f2;
  width: 279px;
  min-height: 150px;
}
@media (min-width: 768px) {
  .rewiew__input {
    width: 648px;
    height: 160px;
  }
}
@media (min-width: 1200px) {
  .rewiew__input {
    width: 768px;
    height: 160px;
    display: block;
    margin: 0 auto;
  }
}
.rewiew__title {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .rewiew__title::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #ffffff;
    width: 402px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .rewiew__title::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #dbdbdb;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    z-index: -2;
  }
}
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.social__item {
  margin-right: 6px;
}
.social__item:last-of-type {
  margin: 0;
}
.social-icon__link {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon__link:hover {
  background-color: #669ec0;
}
.social-icon__link:active {
  background-color: #5496bd;
}
.social-icon__svg {
  fill: #ffffff;
}
.social-icon__link:active .social-icon__svg {
  fill: #ffffff4d;
}
@media (min-width: 768px) {
  .feedback {
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  .feedback {
    padding: 0 120px 50px;
  }
}
.feedback__wrapper {
  padding: 36px 20px 28px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .feedback__wrapper {
    padding: 64px 120px 85px;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .feedback__wrapper {
    padding: 112px 260px 42px;
  }
}
.feedback__text {
  padding: 24px 20px 0;
  border: none;
}
.feedback__button {
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .feedback__button {
    margin: 0;
    width: 320px;
  }
}
@media (min-width: 1200px) {
  .feedback__button {
    margin: 0;
    width: 384px;
  }
}
.feedback__note {
  color: #33333399;
  text-align: right;
  font-size: 12px;
}
@media (min-width: 768px) {
  .feedback__note {
    margin: 0;
    font-size: 14px;
  }
}
.feedback__container {
  position: relative;
}
@media (min-width: 768px) {
  .feedback__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .feedback__container {
    grid-gap: 100px;
  }
}
@media (min-width: 768px) {
  .feedback__container::before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #dbdbdb;
    top: 20px;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.feedback__title {
  margin-bottom: 24px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .feedback__title {
    letter-spacing: 1px;
    font-size: 28px;
    margin-bottom: 21px;
  }
}
@media (min-width: 1200px) {
  .feedback__title {
    margin-bottom: 35px;
  }
}
.feedback__buttons-area {
  position: relative;
  padding: 29px 20px 20px;
}
@media (min-width: 768px) {
  .feedback__buttons-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 20px 70px;
  }
}
@media (min-width: 1200px) {
  .feedback__buttons-area {
    width: 809px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 22px;
  }
}
.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}
@media (min-width: 768px) {
  .advantages__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
.advantages__list::before {
  content: "";
  background-image: url("../img/signs/decoration-for-advantages.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  top: 0;
  height: 37px;
  width: 100%;
}
@media (min-width: 768px) {
  .advantages__list::before {
    display: none;
  }
}
.advantages__wrapper {
  padding: 32px 18px 17px;
  position: relative;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 48px 124px 55px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    padding: 60px 124px 44px;
  }
}
.advantages__container {
  width: 100%;
}
@media (max-width: 767px) {
  .advantages__container {
    padding: 23px 18px 46px;
  }
}
@media (min-width: 768px) {
  .advantages__container {
    display: flex;
  }
}
@media (max-width: 767px) {
  .advantages__container .advantages__item:not(:last-child) {
    margin-bottom: 23px;
  }
}
.advantages__title {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .advantages__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .advantages__title br {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    width: 33.3%;
  }
}
.advantage {
  background-color: #81b3d2;
}
.advantage--light {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .advantage--light {
    padding: 60px 33px;
  }
}
@media (min-width: 1200px) {
  .advantage--light {
    padding: 65px 33px 67px;
  }
}
.advantage--dark {
  background-color: #eeeeee;
  padding: 25px 18px 24px;
  position: relative;
}
@media (min-width: 768px) {
  .advantage--dark {
    padding: 41px 33px 43px;
  }
}
@media (min-width: 1200px) {
  .advantage--dark {
    padding: 54px 33px 55px;
  }
}
@media (min-width: 768px) {
  .advantage--wide {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .advantage--dark:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d6d6d6;
    bottom: 0;
    z-index: 4;
    left: 18px;
    right: 18px;
  }
}
.advantage--light .advantage__wrapper {
  display: flex;
  flex-direction: column;
  padding: 9px 0 0 47px;
}
@media (max-width: 767px) {
  .advantage--light .advantage__title {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .advantage--light .advantage__description {
    text-align: left;
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  .advantage--light br,
  .advantage--dark br,
  .advantage--wide br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantage--dark br {
    display: none;
  }
}
.advantage--house .advantage__wrapper {
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .advantage--house .advantage__wrapper {
    background-size: 77px 72px;
    background-position: center 0;
    padding: 98px 0 0;
  }
}
@media (min-width: 1200px) {
  .advantage--house .advantage__wrapper {
    padding: 102px 0 0;
  }
}
.advantage--burger .advantage__wrapper {
  background-image: url(../img/icon-burger.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .advantage--burger .advantage__wrapper {
    background-size: 80px 68px;
    background-position: center 0;
    padding: 94px 0 0;
  }
}
@media (min-width: 1200px) {
  .advantage--burger .advantage__wrapper {
    background-size: 78px 76px;
    padding: 98px 0 0;
  }
}
.advantage--gift .advantage__wrapper {
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  .advantage--gift .advantage__wrapper {
    background-size: 93px 78px;
    background-position: center 0;
    padding: 91px 0 0;
  }
}
@media (min-width: 1200px) {
  .advantage--gift .advantage__wrapper {
    padding: 103px 0 0;
  }
}
.advantage__title {
  margin-bottom: 11px;
  color: #000000;
  text-align: center;
}
@media (min-width: 1200px) {
  .advantage__description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}
.advantage--wide {
  display: flex;
}
@media (max-width: 767px) {
  .advantage--wide {
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .advantage--reverse {
    flex-direction: row-reverse;
  }
}
.advantage--wide .advantage__title {
  color: #ffffff;
}
.advantage--wide .advantage__description {
  color: #ffffff;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .advantage--wide .advantage__description {
    margin-top: 27px;
    max-width: 250px;
  }
}
@media (min-width: 1200px) {
  .advantage--wide .advantage__description {
    max-width: 270px;
  }
}
@media (min-width: 1200px) {
  .advantage--bridge .advantage__description {
    max-width: 230px;
  }
}
.advantage__number {
  display: block;
}
.advantage--wide .advantage__number {
  color: #ffffff;
}
.advantage--wide .advantage__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 71px 18px 40px;
}
@media (min-width: 768px) {
  .advantage--wide .advantage__wrapper {
    width: 33.3%;
    padding: 50px 26px 28px;
  }
}
@media (min-width: 1200px) {
  .advantage--wide .advantage__wrapper {
    padding: 25px 33px 28px;
  }
}
.advantage__img {
  display: block;
}
@media (min-width: 768px) {
  .advantage__img {
    width: 100%;
    height: 256px;
  }
}
@media (min-width: 768px) {
  .advantage__img-container {
    width: 512px;
  }
}
@media (min-width: 1200px) {
  .advantage__img-container {
    width: 800px;
  }
}
.advantage--bridge .advantage__wrapper {
  padding: 35px 18px 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .advantage--bridge .advantage__wrapper {
    width: 256px;
    padding: 45px 33px 28px;
  }
}
@media (min-width: 1200px) {
  .advantage--bridge .advantage__wrapper {
    width: 400px;
    padding: 52px 50px 51px;
  }
}
.advantage--dark .advantage__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantage--dark:last-child .advantage__wrapper {
  border-bottom: none;
}
@media (min-width: 768px) {
  .advantage--dark .advantage__title {
    max-width: 150px;
  }
}
.advantage--dark .advantage__description {
  margin-top: 18px;
  max-width: 250px;
}
@media (min-width: 768px) {
  .advantage--dark .advantage__description {
    margin-top: 22px;
  }
}
@media (min-width: 1200px) {
  .advantage--dark .advantage__description {
    max-width: 283px;
  }
}
@media (min-width: 1200px) {
  .advantage--dark .advantage__description--wide {
    max-width: 270px;
  }
}
/*# sourceMappingURL=style.css.map */
